[Desktop Entry]
Type=Application
Name=Unmount Mac Disk
Comment=Unmount the Mac disk mounted by Mount Mac Disk
Exec=bash -c "$HOME/bin/mac-apfs-mount-tools/unmount-mac-disk.sh"
Icon=media-eject
Terminal=false
Categories=Utility;
